
/* tech and electronics all pages and cards styling */
.section {
    display: flex;
    padding-top: 3rem;
    top: 30px;
    position: relative;
    
  }
  .left_container {
    width: 100%;
    margin-right: 10px;
  }
  .card {
    border: 1px solid rgb(85, 85, 85);
      
  }
  .categori {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: -2rem;
    margin-top: 3rem;
  }
  
  .name {
    font-weight: 600;
    justify-content: right;
    align-items: start;
    font-size: 3rem;
    text-align: start;
    padding-left: 2rem;
  }
  .title {
    font-weight: bold;
    font-size: 1.6rem;
    color: rgb(63, 63, 63);
  }
  .intro {
    padding-top: 1rem;
    color: rgb(105, 105, 105);
    text-align: start;
    padding-left: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .card_image {
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px rgb(53, 53, 53);
  }
  
  .card_image1 {
    cursor: pointer;
    padding: 2rem;
  }
  .point_top_heading {
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .points_heading {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: -1.3rem;
    background-color: rgb(255, 248, 184);
  }
  
  .point {
    flex-direction: column;
    padding: 1rem;
    display: flex;
    text-align: start;
    font-size: 1.3rem;
  }
  
  .card_data_btn {
    margin-left: 14rem;
    margin-right: 14rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    padding: -2rem;
    background-color: rgb(235, 0, 0);
    color: rgb(216, 215, 215);
  }
  .card_data_btn:hover {
    color: rgb(228, 228, 228);
    background-color: rgb(160, 0, 0);
  }
  .image2 {
    padding: 2rem;
    cursor: pointer;
  }
  .card_image2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px rgb(53, 53, 53);
  }
  
  .card_descr {
    text-align: left;
    padding-right: -2rem;
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 1rem;
    justify-content: end;
  }
  .more_info {
    text-align: end;
  }
  .more {
    border-radius: 10px;
    background-color: rgb(0, 0, 182);
    font-weight: bold;
    margin-right: 1rem;
  }
  .more:hover {
    background-color: rgb(0, 0, 107);
  }
  
  .devider {
    height: 5px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 85%;
    background-color: rgb(0, 0, 0);
  }
  
  /* right sde container styling  */
  .right_container {
    width: 30%; 
    margin-top: 2rem;
  }
  .right_side_heading{
    font-weight: bold;
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }
  .card0 {
    border: 1px solid rgb(85, 85, 85);
    padding-bottom: 1rem;
    margin-top: 10px;
  }
  
  .image0 .img0 {
    height: 15rem;
    width: 100%;
    cursor: pointer;
  }
  .name0 {
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
  
  }
  .name0:hover {
  color: rgb(0, 0, 131);
  }
  .title0 {
    font-size: 1rem;
    font-weight: bold;
  }
   
  
  
                             /* Mobile responsive  */
  @media (max-width: 767px) {
    .section {
      flex-direction: column;
    }
    .left_container {
      width: 100%;
      margin-right: 0%;
    }
    .intro {
      padding: 0%;
    }
    .point_data {
      font-size: 1rem;
    }
    .points_heading {
      font-size: 1.2rem;
      padding: 0%;
      margin: 0%;
    }
    .card_data_btn {
       display: flex;
      font-size: 5px;
      width: 70%;  
      position: relative;
      right: 5rem;
      padding: 0%;
      padding-left: 0px;
  
    }
    .btn{
      display: flex;
    }
    .devider {
      display: none;
    }
  
                              /* second card responsivness styling  */
    .right_side_heading{
      font-size: 1.4;
     
    }
  
    .right_container {
      width: 100%;
      margin-top: 2rem;
      padding-bottom: 2rem;
      margin-right: 0%;
    }
    .card0 {
      padding-bottom: 2rem; 
      z-index: -1;
      position: relative;
    }
  }
  
                                      /* ipad and tablet  */
  @media (max-width: 1199px)and (min-width: 767px)  {
    .point_data {
      font-size: 1rem;
    }
    .points_heading {
      font-size: 1.2rem;
      padding: 0%;
      margin: 0%;
    }
    .card0 {
      padding-bottom: 2rem; 
      z-index: -1;
      position: relative; 
    }
    
    .card_data_btn {
      margin-left: 8rem;
      margin-right: 8rem;
      padding: 15px;
      font-size: 1.2rem;
    }
    .devider {
      text-align: center;
      margin: auto;
      width: 50%;
    }
  }
  
  
   