.footer {
  background-color: #000000;
  padding: 20px;
  color: #c9c9c9;
  margin-top: 2rem;
}

.footer-container {
  display: flex;
  align-items: center;
}
 
.footer_border {
  border: 2px solid rgb(99, 99, 99);
  padding-top: 2rem;
}
.company_name {
  font-style: italic;
  font-weight: bold;
  font-size: 3rem;
  margin-top: -2rem;
}
.footer-left {
  width: 40%;
  margin-left: 7rem;
}

.footer-right {
  display: flex;
  align-items: center;
}
.f_web_desc{
  font-size: 1.1rem;
}
.footer h3 {
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  line-height: 1.4;
}

.footer-links {
  margin-right: 10px;
  text-decoration: none;
  color: #d4d4d4;
  padding-left: 5rem;
  font-weight: bold;
}
.footer-links .navlink {
  padding-left: 1rem;
}

.down_line{
  height: 3px;
  background-color: rgb(105, 105, 105);
  margin: 1.6rem;
}

.footer-social {
  color: #ffffff;
  margin-left: 35rem;
  margin-top: 1rem;
  display: flex;
  text-align: center;
  height: 5rem;
  cursor: pointer;
}

.facebook {
  padding-left: 15px;
  font-size: 2rem;
  height: 5rem;
}
.twitter {
  padding-left: 15px;
  font-size: 2rem;
  height: 5rem;
}
.instagram {
  font-size: 2rem;
  padding-left: 15px;
  height: 5rem;
}
.pinterest {
  font-size: 2rem;
  padding-left: 15px;
  height: 5rem;
}

footer p {
  margin-top: 1rem;
  font-size: 1rem;
}

/* website.com end  */
footer .p2 {
  margin-top: 1rem;
  background-color: #ffffff;
  color: #000000;
  /* font-size: 1rem; */
}

/* mobile responsiveness  */
@media screen and (min-width: 200px) and (max-width: 767px) {
 
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: -2rem;
    width: 100%;
    overflow: hidden;
  }

  .footer-left {
    padding: 3rem;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 2px;
  }
  .footer-left p {
    margin-left: 2rem;
    align-items: center;
    flex-direction: row;
  }
  .company_name {
    margin-left: 1rem;  
  }
  .footer-right {
    margin-left: 1rem;
    flex-direction: column;
  }

  .footer-links {
    margin-left: -3rem;
    margin-bottom: 15px;
    text-align: start;
    justify-content: right;
    font-size: 20px;
    flex-direction: row;
  }
  .footer-social {
    margin-left: 0.7rem;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}


/* tab responsiveness  */
@media screen and (min-width: 767px) and (max-width: 1108px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: -2rem;
    width: 100%;
  }

  .footer-left {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 3rem;
  }
 

  .footer-right {
    margin-left: 1rem;
    flex-direction: row;
  }

  .footer-links {
    margin-left: -3rem;
    margin-bottom: 15px;
    text-align: start;
    justify-content: right;
    font-size: 20px;
    flex-direction: row;
  }
  .footer-social {
    margin-left: 20rem;
    margin-bottom: 10px;
    text-align: center;
  }
}

 
